p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #e4e4e4;
  }
  .bg-light {
    background-color: #1e1e1e !important;
  }
  a, .text-primary {
    color: #4da8af !important;
  }
}
